<div class="CONTENT">
<h1 class="PAGETITLE"><!-- tdtds_heading --></h1>
<div align="center">
<form action="<!-- script_url -->?action=admin_apply" method="POST">
<!-- tdtds_vote_table -->
<br>
<input name="admin_apply" type="submit" value="Apply" />
</form>
<p align="center">
	<a href="<!-- script_url -->?action=approve_links">
	[Approve Links]</a> <a 
	href="<!-- script_url -->?action=merge_songs">[Merge Songs]</a>
</p>
</div>
</div>
