<div class="CONTENT">
<h1 class="PAGETITLE"><!-- tdtds_heading --></h1>

<div align="center">
<p><!-- tdtds_misc_admin_results --></p>
<form action="<!-- script_url -->?action=admin_misc_action" method="POST">
<p><input name="end_round" type="submit" value="End Round" /></p>
<p><input name="cookie_clean" type="submit" value="Clean-out Old Cookies" /></p>
<p><input name="homepage" type="submit" value="Return to Homepage" /></p>
</form>

</div>
</div>
