<div class="SIDEBAR">
	<div class="SIDEBARBOX">
		<p align="center"><big><a href="<!-- script_url -->?action=logout">Logout</a></big></p>
	</div>
	<div class="SIDEBARBOX">
		<p><span class="NEWSDATE">2006-10-31</span>: We're ready for
	beautification and testing.</p>
		<p>
	</div>
	<div class="SIDEBARBOX">
		<p>A message for registered users only.</p>
	</div>
	<div class="SIDEBARBOX">
		<a href="<!-- script_url -->?action=home">Home</a><br>
		<a href="<!-- script_url -->?action=vote_results">Results so far</a><br>
		<a href="<!-- script_url -->?action=vote_page">Vote</a><br>
		<a href="<!-- script_url -->?action=url_page">Suggest Links</a><br>
	<!-- sidebar_admin_str -->
	</div>
</div>
