<h1 class="PAGETITLE"><!-- tdtds_heading --></h1>
<div class="CONTENT">
<p class="ENTRYERROR"><!-- tdtds_error_in_form --></p>
<form action="<!-- script_url -->?action=confirm" method="POST">
<table align="center">
<tr><td>Email address</td><td><input name="confirmemail" type="text"
maxlength="255" /></td></tr>
<tr><td>Confirmation code</td><td><input name="confirmcode" type="text"
maxlength="36" /></td></tr>
<br>
<tr><td>&nbsp;</td><td><input type="submit" value="Confirm registration" /></td></tr>
</table>
</form>
<p align="center"><small>If you have forgotten your password, you can <a href="<!-- script_url -->?action=reset_password&first_use=true">reset your password</a>.</small>
</p>
</div>
