<div class="CONTENT">
<h1 class="PAGETITLE"><!-- tdtds_heading --></h1>

<p><!-- tdtds_end_round_start_results --></p>
<p class="ENDROUNDSTARTTEXT">
Ending a round consists of two steps:<br>
<ol>
	<li>Edit tdtds.conf with new round</li>
	<li>Prune song list to the maxium allowed for the new round.</li>
</ol>
tdtds.conf currently lists the round number as <!-- round_number -->; is
this correct?
</p>
<div align="center">
<form action="<!-- script_url -->?action=end_round_start" method="POST">
<p align="center"><input name="yes" type="submit" value="Yes" />
<input name="no" type="submit" value="No" /></p>
</form>
</div>
</div>
