<div class="CONTENT">
<h1 class="PAGETITLE"><!-- tdtds_heading --></h1>
<div align="center">
<form action="<!-- script_url -->?action=submit_link_approvals" method="POST">
<!-- tdtds_vote_table -->
<br>
<input name="admin_apply" type="submit" value="Apply" />
</form>
<p align="center">
	<a href="<!-- script_url -->?action=admin">
	[Approve Songs]</a>
</p>
</div>
</div>
