<h1 class="PAGETITLE"><!-- tdtds_heading --></h1>
<div class="CONTENT">
<p class="ENTRYERROR"><!-- tdtds_login_error --></p>
<form action="<!-- script_url -->?action=login" method="POST">
<table align="center">
<tr><td>Email address</td><td><input name="loginemail" type="text"
maxlength="255" /></td></tr>
<tr><td>Password</td><td><input name="loginpassword" type="password"
maxlength="255" /></td></tr>
<br>
<tr><td>&nbsp;</td><td><input name="form_type" type="submit" value="Login" /></td></tr>
</table>
</form>
<p align="center"><small>If you do not yet have a password, you should <a
href="<!-- script_url -->?action=register&first_use=true">register with this site</a>.  If you have
forgotten your password, you can <a href="<!-- script_url -->?account=reset_password&first_use=true">reset
your password</a>.</small>
</p>
</div>