<div class="SIDEBAR">
	<div class="SIDEBARBOX">
		<p align="center"><big><a href="<!-- script_url -->?action=login&first_use=true">Login</a></big></p>
	</div>
	<div class="SIDEBARBOX">
		<p><span class="NEWSDATE">2006-10-31</span>: We're ready for
	beautification and testing.</p>
	</div>
</div>
