<h1 class="PAGETITLE"><!-- tdtds_heading --></h1>
<div class="CONTENT">
<p class="ENTRYERROR"><!-- tdtds_error_in_form --></p>
<form action="<!-- script_url -->?action=register" method="POST">
<table align="center">
<tr><td>Email address</td><td><input name="registeremail" type="text"
maxlength="255" /></td></tr>
<tr><td>Password</td><td><input name="registerpassword" type="password"
maxlength="255" /></td></tr>
<tr><td>Confirm password</td><td><input name="registerconfirmpassword" type="password" maxlength="255" /></td></tr>
<tr><td colspan="2"><input name="registernotify" type="checkbox" checked="on" />Notify me with results and start of each round of voting</td></tr>
<br>
<tr><td>&nbsp;</td><td><input type="submit" value="Register" /></td></tr>
</table>
</form>
</div>


