<h1 class="PAGETITLE"><!-- tdtds_heading --></h1>
<div class="CONTENT">
<p class="ENTRYERROR"><!-- tdtds_error_in_form --></p>
<form action="<!-- script_url -->?action=reset_password" method="POST">
<table align="center">
<tr><td>Email address</td><td><input name="resetemail" type="text"
maxlength="255" /></td></tr>
<tr><td>Password</td><td><input name="resetpassword" type="password"
maxlength="255" /></td></tr>
<tr><td>Confirm password</td><td><input name="resetconfirmpassword" type="password" maxlength="255" /></td></tr>
<br>
<tr><td>&nbsp;</td><td><input type="submit" value="Reset Password" /></td></tr>
</table>
</form>
</div>


