<h1 class="PAGETITLE"><!-- tdtds_heading --></h1>
<div class="CONTENT">
<p>Your session has expired (you have been logged in for over eight hours).  You may want to <a href="<!-- script_url -->?action=login">login to the site.</a></p>
</div>
