<div class="CONTENT">
<h1 class="PAGETITLE"><!-- tdtds_heading --></h1>

<div align="center">
<p class="MERGEERROR"><!-- merge_errors --></p>
<p class="MERGESUCCESS"><!-- merge_success --></p>
<form action="<!-- script_url -->?action=merge_submit" method="POST">
<!-- tdtds_merge_boxes -->
<p>
<input name="submit_merge" type="submit" value="Merge Songs" /></p>
</form>

</div>
</div>
