<div class="CONTENT">
<h1 class="PAGETITLE"><!-- tdtds_heading --></h1>

<div align="center">
<p class="REMOVEERROR"><!-- remove_errors --></p>
<p class="REMOVESUCCESS"><!-- removee_success --></p>
<form action="<!-- script_url -->?action=remove_submit" method="POST">
<!-- tdtds_remove_boxes -->
<p>
<input name="submit_remove" type="submit" value="Remove Songs" /></p>
</form>

</div>
</div>
