<div class="CONTENT">
<h1 class="PAGETITLE"><!-- tdtds_heading --></h1>

<div align="center">
<p class="URLERROR"><!-- url_errors --></p>
<p class="URLSUCCESS"><!-- url_success --></p>
<form action="<!-- script_url -->?action=url_submit" method="POST">
<!-- tdtds_url_boxes -->
<p>
<input name="submit_url_form" type="submit" value="Submit Link" /></p>
</form>

</div>
</div>
