<div class="CONTENT">
<h1 class="PAGETITLE"><!-- tdtds_heading --></h1>

<div align="center">
<p class="VOTEERROR"><!-- voting_errors --></p>
<form action="<!-- script_url -->?action=ballot_box" method="POST">
<!-- tdtds_vote_boxes -->
<p>
<input name="submit_vote_form" type="submit" value="Submit Votes" /></p>
</form>

</div>
</div>
